* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./assets/img/macbook.png');
  background-position: fixed;
  background-size: 700px 550px;
  background-repeat: no-repeat;
  background-color: black;
  background-position: right center;
  /* background-position-x: right; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.homepgcontainer {
  box-sizing: border-box;
}

.bgimg img {
  position: fixed;
  height: 100%;
  width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgtext {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.enterbtn {
  margin-top: 10px;
  padding-bottom: 3px;
  width: 60px;
  height: 30px;
  background-color: #e71335;
  color: white;
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 10px 10px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 130px;
  z-index: 100;
  background-color: black;
  background-image: url('./assets/img/abstractpic.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: none;
}

/* position my name in the top left of pg */
.nameheader {
  font-family: 'Permanent Marker', cursive;
  width: 45%;
  margin-left: 30px;
  font-size: 45px;
  background: linear-gradient(to right, #d70a0a 0%, #e2f208 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nameheader a {
  text-decoration: none;
  color: white;
}

/* positioning of navbar */
.navbar {
  width: 100%;
  margin-top: 32px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.navbar ul {
  width: 55%;
  margin-left: 50%;
  margin-top: -45px;
}

/* styling of links in navbar */
.navlink {
  display: inline;
  list-style: none;
  font-family: 'Permanent Marker', cursive;
  color: #e71335;
  text-decoration: none;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 26px;
}

.navlink:hover,
.active {
  color: gold;
  font-weight: bold;
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e71335;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  padding-top: 12px;
  padding-bottom: 5px;
  width: 100%;
  background-color: black;
}

footer li {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
}

/* color and styling for footer links */
footer li a {
  text-decoration: none;
  color: gold;
}

/* hover color change for footer links */
footer li a:hover {
  color: #e71335;
}

/* shaking hover effect on footer and direct contact icons */
.icon:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

/* shaking hover effect on footer and direct contact icons */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.copyright {
  font-size: 12px;
  padding-top: 3px;
}

/* pg titles for about, contact, portfolio, and resume */
.aboutpgtitle,
.contactpgtitle,
.portfoliopgtitle,
.resumepgtitle {
  font-family: 'Permanent Marker', cursive;
  font-size: 32px;
  color: #e71335;
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: gold; */
  margin-top: 12%;
  margin-left: 6%;
}

/* profile pic in about pg */
.profilepic {
  border-radius: 150px 150px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 6%;
}

/* about me paragraph */
.aboutparagraph {
  box-shadow: 0 4px 8px 0 gold;
  transition: 0.3s;
  width: 45%;
  margin-left: 6%;
  margin-right: 6%;
  color: white;
  margin-bottom: 10%;
  border-radius: 10px 10px;
  padding: 15px 15px;
  font-size: 15px;
  background-color: #e71335;
}

/* beginning of css for contact pg */
/* container with contact form */
.directcontactinfo {
  margin-left: 23%;
  margin-top: -40px;
}

/* .directcontactinfo-p {
  padding-bottom: 10px;
  padding-left: 24px;
  font-size: 13px;
} */

.contactform {
  margin-left: 6%;
  width: 40%;
  margin-top: 8px;
  margin-bottom: 10.25%;
}

/* title for input info on contact pg */
.contactinputtitle {
  font-weight: bold;
  padding-right: 70%;
  color: gold;
  font-size: 18px;
}

/* input for user name and email on contact pg */
.nameinput,
.emailinput {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
}

/* input for user msg on contact pg */
.messageinput {
  width: 400px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

/* submit button for contact form on contact pg */
.contactform-submit-btn {
  margin-top: 10px;
  width: 100px;
  height: 35px;
  font-size: 14px;
  padding: 6px 6px;
  border: none;
  border-radius: 5px 5px;
  background-color: #e71335;
  color: white;
  font-weight: bold;
}

.contactform-submit-btn:hover {
  cursor: pointer;
}

.contactme-p {
  font-size: 18px;
  padding-bottom: 10px;
}

.phoneicon,
.emailicon,
.whatsappicon {
  color: gold;
  padding-right: 10px;
  padding-left: 10px;
}

.phoneicon:hover,
.emailicon:hover,
.whatsappicon:hover {
  color: #e71335;
}

/* beginning of css for portfolio pg */
/* container with all project cards in portfolio pg*/
.projectpgcontainer {
  background-color: black;
  margin-bottom: 150px;
}

.projectcardscontainer {
  width: 40%;
  box-sizing: border-box;
  display: inline-flex;
}

/* card with project img/link/info */
.projectcard {
  margin-top: 20px;
  margin-left: 15%;
}

/* image in portfolio project card */
.projectcardimg {
  height: 250px;
  width: 400px;
}

/* hover effect to show project links */

/* position of info that shows on project img hover */
.hoverprojectinfo {
  margin-left: -85%;
  margin-top: 120px;
  width: 100%;
  z-index: 100;
}

/* position of info that shows on project img hover */
.projectinfo {
  text-align: center;
}

/* gh repo and deployed link  */
.projectlinks {
  text-align: center;
}

/* project title/deployed link in portfolio pg */
.deployedprojectlink {
  color: gold;
  text-decoration: none;
  padding-right: 5px;
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;
}

/* link to deployed link hover effect */
.deployedprojectlink:hover {
  color: #e71335;
}

.githubrepoicon {
  color: gold;
}

.githubrepoicon:hover {
  color: #e71335;
}

/* beginning of css for resume pg */
/* container for resume info */
.resumeinfo {
  margin-left: 6%;
  padding-top: 30px;
  font-weight: bold;
  margin-bottom: 17%;
}

/* placement of resume download icon */
.resumedownloadicon {
  margin-left: 175px;
  margin-top: -19px;
  margin-bottom: 20px;
}

/* link to download resume */
.resumelink {
  color: gold;
  text-decoration: none;
}

/* link to download resume hover effect */
.resumelink:hover {
  color: #e71335;
}

/* title for resume proficiencies */
.proficiencytitles {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #e71335;
}

/* list with front end proficiencies */
.front-end {
  width: 25%;
}

/* list with back end proficiencies */
.back-end {
  width: 25%;
  margin-left: 28%;
  margin-top: -190px;
}

/* bullet items in resume */
.resumeinfo li {
  padding-left: 40px;
  list-style: none;
}

/* bullet items in resume */
.resumeinfo li::before {
  content: "\2022";
  color: #e71335;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media screen and (max-width: 1200px) {

  .navbar ul {
    margin-left: 45%;
  }
}


@media screen and (max-width: 1050px) {

  .nameheader {
    margin-top: -15px;
    margin-bottom: 12px;
    width: 60%;
  }

  .navbar {
    width: 100%;
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .navbar ul {
    width: 100%;
    margin-top: -20px;
    margin-left: 1.5%;
  }

  .aboutpgtitle,
  .contactpgtitle,
  .portfoliopgtitle,
  .resumepgtitle {
    margin-top: 16%;
  }
}

@media screen and (max-width: 400px) {

  body {
    background-image: none;
  }

  .nameheader {
    margin-top: -24px;
    margin-left: 25px;
    text-align: center;
    width: 50%;
    font-size: 40px;
  }

  .navlink {
    text-align: right;
    font-size: 22px;
    width: 100%;
    display: grid;
    margin-top: -1px;
    margin-left: 46%;
  }

  .navbar ul {
    width: 50%;
    margin-top: -131px;
    margin-right: 10px;
  }

  .aboutpgtitle,
  .contactpgtitle,
  .portfoliopgtitle,
  .resumepgtitle {
    margin-top: 35%;
  }

  .aboutparagraph {
    width: auto;
    margin-bottom: 100px;
  }

  .directcontactinfo {
    margin-left: 52%;
    margin-top: -40px;
  }

  .contactform {
    margin-bottom: 100px;
  }

  .nameinput,
  .emailinput,
  .messageinput {
    width: 330px;
  }

  .front-end {
    width: 80%;
  }

  /* list with back end proficiencies */
  .back-end {
    width: 80%;
    margin-top: 20px;
    margin-left: 1%;
    margin-bottom: 100px;
  }

  .projectcardscontainer {
    width: 55%;
    /* box-sizing: border-box; */
    /* display: grid; */
  }

  .projectcard {
    width: 80%;
  }

  .projectcardimg {
    height: 175px;
    width: 300px;
  }

}