* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./assets/img/macbook.png');
  background-position: fixed;
  background-size: 500px 250px;
  background-repeat: no-repeat;
  background-color: black;
  background-position: bottom;
  background-position-x: right;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


.homepgcontainer {
  box-sizing: border-box;
}

.bgimg img {
  position: fixed;
  height: 100%;
  width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgtext {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.enterbtn {
  margin-top: 10px;
  padding-bottom: 3px;
  width: 60px;
  height: 30px;
  background-color: #e71335;
  color: white;
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 10px 10px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 130px;
  background-color: black;
  background-image: url('./assets/img/abstractpic.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: none;
}

/* position my name in the top left of pg */
.nameheader {
  width: 40%;
  text-align: left;
  padding-top: 45px;
  padding-left: 30px;
}

.nameheader a {
  text-decoration: none;
  color: white;
}

/* positioning of navbar */
.navbar {
  width: 100%;
  margin-left: 50%;
  margin-right: 20%;
  margin-top: -30px;
  margin-bottom: 50px;
}

/* styling of links in navbar */
.navlinks {
  color: white;
  text-decoration: none;
  display: inline;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 20px;
  font-weight: bold;
}

.active,
.navlinks:hover {
  color: #e71335;
  font-weight: bold;
  cursor: pointer;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  padding-top: 12px;
  padding-bottom: 5px;
  width: 100%;
}

footer li {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
}

/* color and styling for footer links */
footer li a {
  text-decoration: none;
  color: gold;
}

/* hover color change for footer links */
footer li a:hover {
  color: white;
}

/* shaking hover effect on footer and direct contact icons */
.icon:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

/* shaking hover effect on footer and direct contact icons */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* pg titles for about, contact, portfolio, and resume */
.aboutpgtitle,
.contactpgtitle,
.portfoliopgtitle,
.resumepgtitle {
  margin-top: 13%;
  margin-left: 6%;
}

/* profile pic in about pg */
.profilepic {
  border-radius: 150px 150px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 6%;
}

/* about me paragraph */
.aboutparagraph {
  width: 50%;
  margin-left: 6%;
  margin-right: 6%;
  color: white;
  border: 1px solid white;
  border-radius: 10px 10px;
  padding: 15px 15px;
  background-color: #e71335;
}

.macbookimg {
  width: 500px;
  height: 250px;
  margin-top: -140px;
  margin-left: 65%;
  position: fixed;
}

/* beginning of css for contact pg */
/* card with contact form */
.contactform {
  margin-left: 6%;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 100px;
}

/* title for input info on contact pg */
.contactinputtitle {
  font-weight: bold;
  padding-right: 70%;
  color: #e71335;
}

/* input for user name and email on contact pg */
.nameinput,
.emailinput {
  margin-top: 10px;
  margin-bottom: 3px;
  width: 400px;
}

/* input for user msg on contact pg */
.messageinput {
  width: 400px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.errormsg {
  color: gold;
  padding-bottom: 10px;
  font-size: 14px;
}

/* submit button for contact form on contact pg */
.contactform-submit-btn {
  margin-top: 10px;
  width: 70px;
  height: 35px;
  font-size: 14px;
  padding: 6px 6px;
  border: none;
  border-radius: 5px 5px;
  background-color: #e71335;
  color: white;
  font-weight: bold;
}

.contactform-submit-btn:hover {
  cursor: pointer;
}

.contactmeinfo {
  width: 30%;
  margin-left: 55%;
  margin-top: -370px;
  text-align: center;
  margin-bottom: 300px;
}

.contactme-p {
  font-size: 18px;
  padding-bottom: 10px;
}

.phoneicon,
.emailicon,
.whatsappicon {
  color: gold;
  padding-right: 10px;
  padding-left: 10px;
}

.phoneicon:hover,
.emailicon:hover,
.whatsappicon:hover {
  color: white;
}

/* beginning of css for portfolio pg */
/* container with all project cards in portfolio pg*/
.projectcards {
  margin-left: 10%;
  margin-top: 30px;
}

/* image cards in portfolio pg */
.novelsipsimg {
  height: 250px;
  width: 400px;
}

.project-links {
  margin-top: -190px;
  margin-left: 50px;
}

/* project title in portfolio pg */
.projectlink {
  color: white;
  text-decoration: none;
}

/* .githubrepoicon {} */

/* beginning of css for resume pg */
/* container for resume info */
.resumeinfo {
  margin-left: 6%;
  padding-top: 30px;
  font-weight: bold;
  margin-bottom: 100px;
}

/* placement of resume download icon */
.resumedownloadicon {
  margin-left: 175px;
  margin-top: -19px;
  margin-bottom: 20px;
}

/* link to download resume */
.resumelink {
  color: gold;
  text-decoration: none;
}

/* title for resume proficiencies */
.proficiencytitles {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #e71335;
}

.front-end {
  width: 25%;
}

.back-end {
  width: 25%;
  margin-left: 28%;
  margin-top: -190px;
}

/* bullet items in resume */
.resumeinfo li {
  padding-left: 40px;
  list-style: none;
}

/* bullet items in resume */
.resumeinfo li::before {
  content: "\2022";
  color: #e71335;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}